.Nav{
   background-color: rgb(64, 80, 80);
}
.me-auto{
    font-weight: 500;
}
.brand span{
    font-family: Cursive;
}
.brand{
    font-family: URW Chancery L, cursive;

}
.back{
    background-image: url('../image/Background.jpg');
    width: 100.8%;
}
.page-title{
    margin-top: 20%;
}
.banner{
    margin-top: 9%;
    margin-left: 8%;
}
.beer{
    margin-top: 5px;
    margin-left: 45%;
    
    
}
.wine{
    margin-left: 67%;
}
.whiskey{
    margin-left: 65%;
}
.product{
    text-decoration: none;
    color: #101011;
}
.product p{
    margin-left: 80%;
    
}

